# rename this file with file name dev.env for local-development
# and prod.env for local-production
# ==============================================================
# and for cloud production, put this file in the root directory
# and rename this file with file name .env

PROJECT_ENV=development/production
HOST_API=https://yourapi.com